*{
 padding:0%;
 margin: 0%;
}
body{
 background-image: url(./fondo.webp);
}
.contenedor{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 60%;
    margin-left: 30%;
}

.cat{
   width: 100px;
   height: 100px;    animation: desplazar 5s ease-in-out infinite;
   animation-direction: alternate-reverse;
}
.dog{
    width: 100px;
    height: 100px;
    animation: desplazar 10s ease-in-out infinite;
    animation-direction: alternate-reverse;
}


@keyframes desplazar{
 0%{margin: 0%;}
 25%{margin-left: 100px;}
 50%{margin-top: 100px;}
 75%{margin-left: 0%;}
 100%{margin-top: 0%;}
 }   
